<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/build/common.min.css" media="print" onload="this.media='all'">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="application/x-javascript" src="/js/characters.js"></script>
</head>

<div id="header">
</div>

<body>


<div id="containerGeneral">

    <div class="containerGlobal containerCharacters">
        <fieldset>
            <legend><h1></h1></legend>
            <div id="informations_page">
                <div class="personnage">
                    <img class="characterIcon" id="erratum" src="/img/ulgu.png">
                    <h2>Erratum</h2>
                </div>
                <div class="personnage personnageDuCentre">
                    <img class="characterIcon" id="kurt" src="/img/twin_tailed_comet2.png">
                    <h2>Kurt</h2>
                </div>
                <div class="personnage">
                    <img class="characterIcon" id="johanna" src="/img/weapon.png">
                    <h2>Johanna</h2>
                </div>
                <div class="personnage">
                    <h2>Johanna</h2>
                </div>
            </div>
        </fieldset>
    </div>


</div>
<br/>
</body>
</html>

<script>
    $(function () {
        $("#header").load("/view/header.html");
        $("#footer").load("/view/footer.html");
        $('head').append('<link rel="stylesheet" href="/css/characters.css">');
    });
</script>