





#throw{
    color: cornflowerblue;
    font-size: 28px;
    background: rgba(255, 249, 242, 0.36);
}
#clear{
    color: #ed2b00;
    font-size: 28px;
    background: rgba(255, 249, 242, 0.36);
}



.diceThrow, .diceThrow > canvas{
    border: 2px solid chocolate;
}
