


#containerGeneral{
    display: flex;
    align-items: baseline;
}
#inventaire{
    position: fixed;
    background-image: url('../img/old_paper.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 12%;
    margin: 9% auto auto 4%;
    flex: 0 0 auto;
    text-align: center;
    max-height: 100vh;
}
.boutonDice{
    width: 48%;
    height: 48px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
#throw{
    color: #744eed;
    font-size: 20px;
    background: rgba(255, 249, 242, 0.36);
}
#clear{
    color: #ed2b00;
    font-size: 20px;
    background: rgba(255, 249, 242, 0.36);
}


.containerGlobal{
    display: flex;
    flex-direction: column;
    width: 55%;
}


#informations_page{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#categorie{
    flex: 0 0 20%;
    margin-right: 1%;
}


.aventure{
    margin-top: 24px;
    padding: 4px 4px 4px 4px;
    background-color: rgba(255, 236, 216, 0.26);
    line-height: 30px;
    font-size: 20px;
    border: 2px solid #3e3303;
}


#calendrier{
    height: auto;
    width: 100%;
}

.containerGlobal > fieldset{
    height: 100%;
}

.clickableLi, .clickableLi > h2{
    cursor: pointer;
    margin-left: 1%;
}
.clickableLi > h2:hover{
    color: rgb(75, 33, 81);

}

