
body{
	font-family: 'MedievalSharp', cursive;
	background-image: url('../img/altdorf_city.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 100% 60%;
	background-attachment: fixed;
	margin: 0;
}


#header{
	height: 10%;
}
#headerContainer{
	left: 0;
	top: 0;
	height: 10%;
	width: 100%;
	max-width: 100%;
	border-bottom: 8px solid #01796F;
	position: fixed;
	background-image: url('../img/old_paper.jpg');
	text-align: center;
}
#header_ul{
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	font-size: 24px;
}
.clickableLi i{
	margin-right: 5px;
	margin-left: 5px;
}



#containerGeneral{
	margin-top: 5%;
}
.containerGlobal{
	text-align: center;
	border: 2px solid #511b13;
	margin: auto auto 5% auto;
	min-height: 60%;
	padding: 0;
	background-image: url('../img/old_paper.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.containerglobal legend{
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

fieldset{
	border: 3px solid #3e3303;
	height: 60%;
	min-height: inherit;
	margin: 0;
}

#informations_page{
	text-align: start;
	margin-top: 0;
	/*background-image: url('http://www.blogmais.org/ourimg/big/22/227032_old-paper-wallpaper.jpg');*/
}


.flexDiv{
	margin-top: 6%;
	border: 2px solid #511b13;
}
.flexDiv legend, .flexDiv fieldset, .flexDiv legend h2{
	flex: 0 1 30%;
	text-align: center;
	margin: 0;
	max-height: 20%;
}
.flexDivCentre{
	border-left: 2px solid gray;
	border-right: 2px solid gray;
}


.imageIcon{
	height: auto;
	max-height: 40%;
	object-fit: contain;
}


#stickyButton{
  float: left;
  position: fixed;
  top: 30%;
  margin-left: 11%;
  color: red;
}

table, th, td{
	text-align: center;
	border-collapse: collapse;
}
th, td{
	padding: 5px;
	border-collapse: collapse;
}
th{
	font-weight: bold;
	font-size: 24px;
}
#pros{
	color: #0d8324;
}
#cons{
	color: #d1281b;
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: auto;
	height: 85%;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
	}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
	width: 100%;
  }
}

