
body{
	font-family: 'MedievalSharp', cursive;
	background-image: url('https://cdn.glitch.com/a2586b49-c254-4297-a01c-27e49c1d5376%2Faltdorf_city.jpg?v=1578657492687');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 100% 60%;
	background-attachment: fixed;
	margin: 0;
}


.clickableLi i{
	margin-right: 5px;
	margin-left: 5px;
}



#containerGeneral{
	margin-top: 5%;
}
.containerGlobal{
	text-align: center;
	border: 2px solid #511b13;
	margin: auto auto 5% auto;
	min-height: 60%;
	padding: 0;
	background-image: url('https://cdn.glitch.com/a2586b49-c254-4297-a01c-27e49c1d5376%2Fold_paper.jpg?v=1579184886596');
	background-repeat: no-repeat;
	background-size: cover;
}

#informations_page{
	text-align: start;
	margin-top: 0;
	/*background-image: url('http://www.blogmais.org/ourimg/big/22/227032_old-paper-wallpaper.jpg');*/
}


.old-paper-bg{
	background-image: url('https://cdn.glitch.com/a2586b49-c254-4297-a01c-27e49c1d5376%2Fold_paper.jpg?v=1579184886596');
	background-repeat: no-repeat;
	text-align: center;
}
.brown-border-full{
	border: 3px solid #3e3303;
}
.font-30{
	font-size: 30px;
}
.font-dark-blue{
	color: #2440ae;
}


.imageIcon{
	height: auto;
	max-height: 40%;
	object-fit: contain;
}


#stickyButton{
  float: left;
  position: fixed;
  top: 30%;
  margin-left: 11%;
  color: red;
}

table, th, td{
	text-align: center;
	border-collapse: collapse;
}
th, td{
	padding: 5px;
	border-collapse: collapse;
}
th{
	font-weight: bold;
	font-size: 24px;
}


.w-20{
	width: 20% !important;
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: auto;
	height: 85%;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
	}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
	width: 100%;
  }
}

