

#content{
    flex: 1 0 0;
}

#cra{
    -moz-user-select: none;
    width: 100%;
}


#cra td, #cra th{
    border: 1px solid #666666;
    font-family: 'MedievalSharp', cursive;
}
#cra th{
    border-top: none;
}


.month-change{
    color: #1f2f69;
}


.dow{
    width: 20px;
    line-height: 20px;
    height: 25px;
    background-color: rgba(132, 114, 72, 0.7);
}
.dow:hover{
    background-color: rgba(0, 136, 19, 0.15);
}
.selected{
    background-color: rgba(0, 136, 19, 0.30);
}
.today{
    background-color: rgba(46, 150, 146, 0.54)
}





#pesterlog{
    font-family: 'MedievalSharp';
    font-size: 24px;
}
#editAventure{
    margin-bottom: 12px;
}
#aventure-text{
    display: none;
    background-color: rgba(162, 147, 99, 0.6);
    border: 1px solid gray;
}
#aventure-text-edit{
    display: none;
    background-color: rgba(1, 1, 1, 0.7);
}
#champ-aventure-edit{
    width: 100%;
}













