<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="application/x-javascript" src="/js/journal_de_quete/journal_de_quete.js"></script>
</head>

<div id="header">
</div>

<body>

<div class="containerGlobal">
    <fieldset>
        <legend><h1 id="titreFieldset">Calendrier</h1></legend>
        <div id="informations_page">
        </div>
    </fieldset>
</div>
</body>
</html>

<script>
    $(function(){
        $("#header").load("/view/header.html");
        $("#footer").load("/view/footer.html");
        $('head').append('<link rel="stylesheet" href="/css/journal_de_quete.css">');
    });
</script>