<html lang="fr">
<head>
	<meta charset="UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="application/x-javascript" src="characters.js"></script>
</head>

<div id="header">
</div>

<body>

<a id="stickyButton" href="../res/v2_fiche_perso.pdf" class="far fa-file-pdf fa-red fa-3x"></a>

<div class="containerGlobal containerCharacters">
	<fieldset>
		<legend><h1>Liste des personnages</h1></legend>
		<div id="informations_page">
			<div class="personnage">
				<img class="characterIcon" id="erratum" src="../img/ulgu.png">
		  		<h2>Erratum</h2>
			</div>
			<div class="personnage personnageDuCentre">
				<img class="characterIcon" id="kurt" src="../img/twin_tailed_comet2.png">
				<h2>Kurt</h2>
			</div>
			<div class="personnage">
				<img class="characterIcon" id="johanna" src="../img/weapon.png">
				<h2>Johanna</h2>
			</div>
			<div class="personnage">
				<h2>Johanna</h2>
			</div>
		</div>
	</fieldset>
</div>
<br />
</body>
</html>

<script>
$(function(){
  $("#header").load("header.html");
  $("#footer").load("footer.html");
  $('head').append('<link rel="stylesheet" href="characters.css">');
});
</script>