<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/common/header.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="/css/common/style.css" media="print" onload="this.media='all'">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dice.css">
</head>

<div id="header" class="sticky-top">
</div>

<body>

<div class="container-fluid">
    <div class="row">

        <div class="col mx-5">
            <fieldset class="old-paper-bg brown-border-full">
                <div class="container-fluid" id="inventory">

                    <div class="row align-items-center">
                        <div class="col-2 my-3">
                            <h3>0</h3>
                        </div>
                        <div class="col-10 my-3">
                            <img class="img-fluid w-20" id="d3" src="/img/d3.png">
                        </div>

                    </div>

                    <div class="row align-items-center">
                        <div class="col-2 my-3">
                            <h3>0</h3>
                        </div>
                        <div class="col my-3">
                            <img class="img-fluid w-20" id="d4" src="/img/d4.png">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-2 my-3">
                            <h3>0</h3>
                        </div>
                        <div class="col my-3">
                            <img class="img-fluid w-20" id="d6" src="/img/d6.png">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-2 my-3">
                            <h3>0</h3>
                        </div>
                        <div class="col my-3">
                            <img class="img-fluid w-20" id="d10" src="/img/d10.png">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-2 my-3">
                            <h3>0</h3>
                        </div>
                        <div class="col my-3">
                            <img class="img-fluid w-20" id="d12" src="/img/d12.png">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-2 my-3">
                            <h3>0</h3>
                        </div>
                        <div class="col my-3">
                            <img class="img-fluid w-20" id="d20" src="/img/d20.png">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-2 my-3">
                            <h3>0</h3>
                        </div>
                        <div class="col my-3">
                            <img class="img-fluid w-50" id="d100" src="/img/d100.png">
                        </div>
                    </div>

                </div>

                <input type="hidden" id="set" value="0">
                <input type="hidden" value="0">
                <div id='inventoryd3' class='inventoryDice'></div>
                <div id='inventoryd4' class='inventoryDice'></div>
                <div id='inventoryd6' class='inventoryDice'></div>
                <div id='inventoryd10' class='inventoryDice'></div>
                <div id='inventoryd12' class='inventoryDice'></div>
                <div id='inventoryd20' class='inventoryDice'></div>
                <div id='inventoryd100' class='inventoryDice'></div>
                <br/>

            </fieldset>

            <div class="container-fluid mx-auto">
                <div class="row">
                    <button id="throw" class="col h-25 w-25 boutonDice"><i class="fas fa-dice"></i></button>
                    <button id="clear" class="col h-25 w-25 boutonDice" onclick="clearInventory()"><i class="fas fa-times"></i></button>
                </div>
            </div>

        </div>

        <div class="col-9 pr-lg-5">
            <fieldset class="container-fluid d-flex flex-column old-paper-bg brown-border-full h-100">
                <div class="row">
                    <div class="col">
                        <p>
                        <h1>Générateur de dés</h1></p>
                    </div>
                </div>

                <div class="row flex-fill">

                    <div id="canvas" class="diceThrow h-auto w-100 flex-fill">
                    </div>

                </div>

            </fieldset>

        </div>
    </div>
    <br/>
</div>
</body>
</html>

<script>
    $(function () {
        $("#header").load("/view/header.html");
        $("#footer").load("/view/footer.html");
        //$('head').append('<link rel="stylesheet" href="/css/dice.css">');
    });
</script>

<script type="application/x-javascript" src="/js/dice.js"></script>


<script src="/js/tealDice/lib/three.min.js"></script>
<script src="/js/tealDice/lib/cannon.min.js"></script>

<script type="text/javascript" src="/js/tealDice/teal.js"></script>
<script type="text/javascript" src="/js/tealDice/dice.js"></script>
<script type="text/javascript" src="/js/tealDice/main.js"></script>
<script type="text/javascript" defer="defer">
    $(document).ready(function () {
        $('#set').val('');
        dice_initialize(document.body);
    });
</script>
