<html lang="fr">


<body>

<div id="containerGlobal">
	<fieldset>
		<legend><h1>Entretiens de motivations: passés et conseils</h1></legend>
		<div id="informations_page">
			<div id="categorie">
				<h2>Pourquoi me recruter ?</h2>
				<ul>
					<li>Qualités</li>
						<ul>
							<li>Attentif aux détails</li>
							<li>Esprit de synthèse</li>
							<li>Ouverture d'esprit</li>
							<li>Curiosité intellectuelle</li>
							<li>Fiable, précis (=consciencieux)</li>
							<li>Esprit d'équipe</li>
							<li>Respect des règles</li>
						</ul>
						<br />
					<li>Motivations</li>
						<ul>
							<li>Ça me plaît +/+ Je suis compétent</li>
							<li>Comprendre le fonctionnement</li>
							<li>Faire des choses concrètes</li>
							<li>Secteur en constante évolution, et varié</li>
							<li>Bonne ambiance de travail</li>
							<li>Créer, innover</li>
						</ul>
						<br />
					<li>Expérience</li>
						<ul>
							<li>Goût pour les jeux vidéo, ce qui m'a mené à essayer d'en comprendre le fonctionnement</li>
							<li>Stage de 3 mois en développement</li>
						</ul>
						<br />
					<li>Mon Parcours</li>
						<ul>
							<li>Stage Viveris</li>
								<ul>
									<li>Qu'est-ce que j'y ai fait ?</li>
									<li>Qu'est-ce que j'en ai retenu</li>
									<li>Est-ce que ça m'a plu ? </li>
								</ul>
							<li>IUT Informatique de Vélizy:</li>
								<ul>
									<li>Le contenu ?</li>
									<li>Qu'est-ce que j'ai appris ?</li>
									<li>Qu'est-ce que j'ai retenu ?</li>
									<li>Qu'est-ce que j'ai aimé ?</li>
									<li>En quoi suis-je compétent ?</li>
									<li style="font-weight: bold">Donner des exemples !</li>
								</ul>
							<li>BAC S spécialité ISN</li>
								<ul>
									<li>Goût pour l'informatique</li>
								</ul>
						</ul>
						<br />
				</ul>
			</div>
			<div id="categorie">
				<h2>D'une manière générale</h2>
				<ul>
					<li>Les questions classiques</li>
						<ul>
							<li>Quel parcours ?</li>
							<li>Quel type de stage je recherche ? (dans le sens du contenu)</li>
						</ul>
						<br />
					<li>Préparer des questions</li>
						<ul>
							<li>Des détails sur le contenu du stage ?</li>
							<li>Des informations sur l'entreprise ? (fonctionnement, activités, etc...)</li>
							<li>Ne pas s'arrêter à ce qui est donné, aller chercher plus loin</li>
						</ul>
						<br />
					<li>Question du handicap</li>
						<ul>
							<li>Pas besoin d'aménagement</li>
							<li>Des informations sur l'entreprise ? (fonctionnement, activités, etc...)</li>
							<li>Ne pas s'arrêter à ce qui est donné, aller chercher plus loin</li>
						</ul>
						<br />
				</ul>
			</div>
			<div id="categorie">
				<h2>Entretien Viveris</h2>
				<ul>
					<li>Les questions classiques</li>
						<ul>
							<li>Quel parcours ?</li>
							<li>Quel type de stage je recherche ? (dans le sens du contenu)</li>
							<li>Mon stage idéal ?</li>
						</ul>
						<br />
				</ul>
			</div>
		</div>
	</fieldset>
</div>
<br />
</body>
</html>
