<head>
</head>
<body>

<header class="container-fluid old-paper-bg mb-4 py-2 brown-border-bottom">
    <div class="row">

        <div class="col">
            <a class="font-dark-blue" title="Accueil" href="/"><i class="fas fa-home font-30"></i>
                <h3> Accueil</h3>
            </a>
        </div>

        <div class="col">
            <a class="font-dark-blue" title="Liste  des personnages" href="/view/characters/"><i class="fas fa-users font-30"></i>
                <h3>Personnages</h3></a>
        </div>

        <div class="col">
            <a class="font-dark-blue" title="Résumé des règles" href="/view/rules.html"><i class="fas fa-hands-helping font-30"></i>
                <h3>Aide de jeu</h3>
            </a>
        </div>

        <div class="col">
            <a class="font-dark-blue" title="Générateur de dés" href="/view/dice.html"><i class="fas fa-dice-d20 font-30"></i>
                <h3>Générateur de dés</h3>
            </a>
        </div>

        <div class="col">
            <a class="font-dark-blue" title="Synopsis" href="/view/journal/"><i class="fas fa-book font-30"></i>
                <h3>Journal de quête</h3>
            </a>
        </div>

    </div>
</header>
<script defer type="text/javascript" src="/js/common.js"></script>
</body>