<body>
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous"
        media="print" onload="this.media='all'">
  <header id="headerContainer">
	<ul class="fa-ul" id="header_ul">
		<li><a title="Accueil" href="/"><i class="fas fa-home"></i> Accueil</a></li>
		<li><a title="Liste des personnages" href="/view/characters/"><i class="fas fa-users"></i> Personnages</a></li>
		<li><a title="Résumé des règles" href="/view/rules.html"><i class="fas fa-hands-helping"></i> Aide de jeu</a></li>
		<li><a title="Générateur de dés" href="/view/dice.html"><i class="fas fa-dice-d20"></i> Générateur de dés</a></li>
		<li>
			<div class="dropdown">
				<a title="Synopsis" href="/view/journal/"><i class="fas fa-book"></i> Journal de quête</a>
				<div class="dropdown-content">
					<button id="calendarButton" class="clickableLi" onclick="window.location.href = '/view/journal/calendrier.html'"><i class="fas fa-book-reader"></i> Synopsis</button>
					<button id="logButton" class="clickableLi" onclick="window.location.href = '/view/journal/map.html'"><i class="fas fa-map"></i> Carte</button>
				</div>
			</div>
		</li>
	</ul>
</header>
<script defer src="/js/common.js"></script>
</body>