<html lang="fr">
  <head>
  <meta charset="UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="js/common.js"></script>
	<link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
	<link rel="stylesheet" href="header.css"/>
  <link rel="stylesheet" href="style.css"/>
  <title>Banque JDR</title>
  </head>

<body>
  <header id="headerContainer">
	<ul class="fa-ul" id="header_ul">
		<li><a title="Accueil" href="index.html"><i class="fas fa-home"></i> Accueil</a></li>
		<li><a title="Liste des personnages" href="characters.html"><i class="fas fa-users"></i> Personnages</a></li>
		<li><a title="Résumé des règles" href="rules.html"><i class="fas fa-hands-helping"></i> Aide de jeu</a></li>
		<li><a title="Générateur de dés" href="dice.html"><i class="fas fa-dice-d20"></i> Générateur de dés</a></li>
		<li><a title="Synopsis" href="synopsis.html"><i class="fas fa-book-reader"></i> Synopsis</a></li>
		<li><a title="Carte du monde" href="map.html"><i class="fas fa-map-marked-alt"></i> Carte</a></li>
	</ul>
</header>
</body>
</html>