<html lang="fr">
<head>
    <link rel="stylesheet" href="/css/build/common.min.css" media="print" onload="this.media='all'">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<div id="header"></div>
<body>
<div id="containerGeneral">
    <div class="containerGlobal">
        <fieldset>
            <legend><h1>Outils et trucs utiles</h1></legend>
            <div id="informations_page">
                <div class="personnage">
                    <ul>
                        <li><h2>Tirage d'une fiche de perso</h2></li>
                        <a href="/view/utilitaires/tirage_perso.html" class="far fa-file-pdf">
                            Aide à la création</a
                        >
                    </ul>
                </div>
                <div class="personnage">
                    <ul>
                        <li><h2>Aide de combat</h2></li>
                        <a href="https://tinyurl.com/y2wn6352" class="far fa-file-pdf">
                            Tout ce qu'il faut savoir</a
                        >
                    </ul>
                </div>
                <div class="personnage">
                    <ul>
                        <li><h2>Liste complètes des races jouables</h2></li>
                        <a
                                href="https://drive.google.com/drive/folders/1QZbBHcV-P3koUmBRo77rTq2OOyWUTSeB"
                                class="fab fa-google-drive"
                        >
                            Liste des races (anglais)</a
                        >
                        <br/><br/>
                        <a
                                href="http://www.d20mud.com/index.php/about-the-game/races"
                                class="fab fa-jedi-order"
                        >
                            Liste moins compliquée des races (anglais)</a
                        >
                    </ul>
                </div>
            </div>
        </fieldset>
    </div>
</div>

<br/>
</body>
</html>

<script>
    $(function () {
        $("#header").load("/view/header.html");
        $("#footer").load("/view/footer.html");
        $("head").append('<link rel="stylesheet" href="/css/journal/journal.css">');
    });
</script>
